.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 560px;
}

.innercontainer {
    width: 80%;
    height: 430px;
    display: flex;
}

.copy {
    padding-top: 60px;
    font-size: large;
    opacity: 0.5;
}

.leftblock {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top {
    font-size: x-large;
    font-weight: 600;
}

.bottom {
    font-size: 85px;
    font-weight: 800;
    text-underline-offset: 3;
    width: fit-content;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:hover.bottom {
   color: rgb(57, 57, 171);
}

.rightblock {
    width: 30%;
    height: 90%;
    display: flex;
    column-gap: 50px;
}

.block1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.types {
    font-size: x-large;
    font-weight: 600;
    padding-bottom: 20px;
}